<form action="{:U('Topicinfo/'.$reply['ActionName'],'','')}" method="post" class="form-horizontal">
    <div class="panel panel-color panel-warning" id="ReplayPanel">
        <div class="panel-heading">
            {$reply.Title}
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <textarea id="ReplyContent" name="ReplyContent" rows="6" cols="20" class="form-control ckeditor">{$reply.ReplyContent}</textarea>
            </li>

            <li class="list-group-item text-right">
                <input type="hidden" id="TopicId" name="TopicId" value="{$reply.TopicId}">
                <input type="hidden" id="BoardId" name="BoardId" value="{$reply.BoardId}">
                <input type="hidden" id="BBSId" name="BBSId" value="{$reply.BBSId}">
                <input id="btnReply" type="submit" value="{$reply.SubmitButtonValue}" name="btnReply" class="btn btn-primary" />
                <if condition="$reply.IsShowCloseButton eq 1">
                    <input id="btnClose" type="button" value=" 关 闭 " name="btnClose" onclick="{$reply.CloseJSFunction}" class="btn btn-info" />
                </if>
            </li>
        </ul>
    </div>
</form>


<!-- Imported styles on this page -->
<link rel="stylesheet" href="__PUBLIC__/assets/js/wysihtml5/src/bootstrap-wysihtml5.css">
<link rel="stylesheet" href="__PUBLIC__/assets/js/uikit/vendor/codemirror/codemirror.css">
<link rel="stylesheet" href="__PUBLIC__/assets/js/uikit/uikit.css">
<link rel="stylesheet" href="__PUBLIC__/assets/js/uikit/css/addons/uikit.almost-flat.addons.min.css">

<!-- Imported scripts on this page -->
<script src="__PUBLIC__/assets/js/wysihtml5/src/bootstrap-wysihtml5.js"></script>
<script src="__PUBLIC__/assets/js/uikit/vendor/codemirror/codemirror.js"></script>
<script src="__PUBLIC__/assets/js/uikit/vendor/marked.js"></script>
<script src="__PUBLIC__/assets/js/uikit/js/uikit.min.js"></script>
<script src="__PUBLIC__/assets/js/uikit/js/addons/htmleditor.min.js"></script>
<script src="__PUBLIC__/assets/js/ckeditor/ckeditor.js"></script>
<script src="__PUBLIC__/assets/js/ckeditor/adapters/jquery.js"></script>