<p class="lead">{$data['loginname']} 的基本信息：</p>
<table  class="table table-bordered">
    <tr>
        <td class="info text-right">
            真实姓名：
        </td>
        <td>
            {$data['realname']}
        </td>
        <td class="info text-right">
            昵称：
        </td>
        <td>
            {$data['nickname']}
        </td>
        <td class="info text-right">
            性别：
        </td>
        <td>
            {$data['gender']}
        </td>
    </tr>
    <tr>
        <td class="info text-right">
            用户类型：
        </td>
        <td>
            {$data['userlevel']}
        </td>
        <td class="info text-right">
            Email：
        </td>
        <td>
            {$data['useremail']}
        </td>
        <td class="info text-right">
            积分：
        </td>
        <td>
            {$data['grade']}
        </td>
    </tr>
    <tr>
        <td class="info text-right">
            总贴数：
        </td>
        <td>
            {$data['topiccnt']}
        </td>
        <td class="info text-right">
            发帖数：
        </td>
        <td>
            {$data['postcnt']}
        </td>
        <td class="info text-right">
            被删帖数：
        </td>
        <td>
            {$data['delcnt']}
        </td>
    </tr>
</table>