{//问题}
<div id="Question" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="topicCaptionText">
            {$data.getLock}
            {$data.getTopLevel}
            {$data.getDigest}
            {$data.title}</h3>
    </div>
    <div class="panel-body">
        <p class="clearfix text-info">
            <span class="Questioner">提问者：<a href="{:U('User/index',array(id=>$data['postuserid']),'')}" target="_blank">{$data.postusername}</a></span>
            <span class="QuestionTime">发帖时间：{$data.posttime|time2Units}</span>
        </p>
        <p class="clearfix text-muted">
            关键词：
            <foreach name="keywords" item="w">
                <span class="QuesKeywords">{$w}</span>
            </foreach>
        </p>
        <p class="QuestionDesc">
           {$bbss['TopicBBS'].content}
        </p>
    </div>
</div>
<include file="Topicinfo/GetQAReply" />

{//正确答案}
<if condition="$bbss['HasAnswer'] eq 1">
    <div id="Answer" class="panel panel-default">
        <div class="panel-heading">
            <img src="__PUBLIC__/images/Best.gif" />
            最佳回复</span>
        </div>
        <div class="panel-body">
            {$bbss['Answer'].content}
            <p class="clearfix text-info">
            <span class="ReBestAuthorSign">回复者：<a href="{:U('User/index',array(id=>$bbss['Answer']['postuserid']),'')}" target="_blank">{$bbss['Answer'].postusername}</a>
                回复时间：{$bbss['Answer'].posttime}</span>
            </p>
        </div>
    </div>
</if>

{//其他答案}
<if condition="$bbss['AnswerCnt'] gt 0">
    <div id="OtherAnswerList" class="panel panel-color panel-info">
        <div class="panel-heading">
            <span class="ReOther">回 答（共 {$bbss['AnswerCnt']} 条）</span>
        </div>
        <ul class="list-group">
             <foreach name="bbss['OtherBBSs']" item="o">
                    <li class="list-group-item">
                        <p class="clearfix text-info">
                            <span class="Questioner">回复者：<a href="{:U('User/index',array(id=>$o['postuserid']),'')}" target="_blank">{$o.postusername}</a></span>
                            <span class="QuestionTime">回复时间：{$o.posttime}</span>
                        </p>
                        <p class="QuestionDesc">
                            {$o.content}
                        </p>

                        <if condition="$o.IsOwner eq 1">
                            <script language="javascript">
                                function LoadEdit() {
                                    try {
                                        $.ajax({
                                            type: "Get",
                                            url: "{:U('Topicinfo/GetEditReply',array('bbsId'=>$o['id']),'')}",
                                            async: false,
                                            success: function (msg) {
                                                $("#EditMyAnswer").empty();
                                                $('#EditMyAnswer').append(msg);
                                            }
                                        });
                                    }
                                    catch (e) { }
                                }
                                function Close()
                                {
                                    $("#EditMyAnswer").empty();
                                    $('#EditMyAnswer').append(" <input type=\"submit\" id=\"appendAnswer\" value=\"完善我的回答\" onclick=\"LoadEdit()\" />");
                                }
                            </script>
                            <div id="EditMyAnswer">
                                <input type="submit" class="btn btn-info" id="appendAnswer" value="完善我的回答" onclick="LoadEdit()" />
                            </div>
                        </if>
                    </li>
            </foreach>
        </ul>
    </div>
</if>