<!--发帖搜索-->
<include file="Common/topBanner" />
<!--导航-->
<div class="row">
    <include file="Common/Nav" />
    <div class="col-lg-4 breadcrumb ">&nbsp;</div>
</div>
<!--帖子列表-->
<div class="BBSList">
    <if condition="$data.topictype eq 1">
        <include file="Topicinfo/QAList" />
    <else/>
        <include file="Topicinfo/DiscussList" />
    </if>
</div>
<div class="zeng_msgbox_layer_wrap" id="q_Msgbox" style=" display:block"></div>
<script language="javascript">
    //    $(function () {
    //         try {
    //                 $.ajax({
    //                     type: "Post",
    //                     url: "@Url.Action("SaveHits", "Topic", new { topicId = @Model.TopicId })",
    //                     async: false,
    //                     success: function (data) {
    //                           if (data.Flag == "0")
    //                           {
    //                              ZENG.msgbox.show("更新点击次数成功",4, 3000);
    //                            }
    //                     }
    //                 });
    //             }
    //             catch (e) { }
    //    });
</script>